@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
           <p class="text-center">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a> </p> 
            }
            }
            else
            { 
           <p class="text-center" style="color:white"> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
           @Html.ActionLink("Log in", "Login", "Account", routeValues: null,htmlAttributes: new { id = "loginLink"})</p>
     
}
<script>
    $( document ).ready(function() {
        $('.address-bar a').css({ "color": "white" })
    });
   

</script>